// Breakpoint
$lg-width: 1200px;
$md-width: 1024px;
$sm-width: 768px;
$xs-width: 481px;
$xxs-width: 360px;

$cal-color : #232e48;
$cal-primaray-color:#ffd25d;
$cal-secondar-color:#7b7b85;
$cal-primary-bg: #fff;
$cal-secondary-bg: #f2f2f2;


$go-semibold: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Sawarabi Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$go-bold: "Yu Gothic Bold", "游ゴシック Bold", "YuGothic", "ゴシック体", "Sawarabi Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;



@mixin lg {
    @media screen and (min-width: #{$lg-width}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md-width}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm-width}) {
        @content;
    }
}

@mixin xs {
    @media screen and (min-width: #{$xs-width}) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: #{$xxs-width}) { 
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$md-width + 1px}) {
        @content;
    }
}

@mixin device {
    @media screen and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$sm-width - 1px}) {
        @content;
    }
} 
 
@mixin print {
    @media print {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    } 
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

//cleafix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


.row {
    @extend %clearfix;
    margin-left: -15px;
    margin-right: -15px;
    @include sm {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.col {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    @include md {
        padding: 0 20px;
    }
    &.col-1-2 {
        @include sm {
            width: 50%;
        }
    }
    &.col-1-3 {
        @include sm {
            width: 33.33%;
        }
    }
    &.col-1-4 {
        @include sm {
            width: 25%;
        }
    }
    &.col-1-5 {
        @include sm {
            width: 20%;
        }
    }
    &.col-2-3 {
        @include sm {
            width: calc(100% - 100% / 3);
        }
    }
}


body{
	font-family: $go-semibold;
    margin: 0;
    padding: 0;
    background: #fafafa;
    overflow-x:hidden; 
}

*{
	outline: 0;
    box-sizing: border-box;
}

.container{
	max-width: 940px;
	margin: 0 auto;
}

.osaka-campaign-wrap{    
    text-align: center;
    color: #fff; 
}

.logo{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 50%;
    margin-left: -40px;
    img{
        width: 100%;
        height: auto;
    }
    @include md {
        top: 30px;
        left: 30px;
        width: 120px;
        height:120px;
        margin-left: 0;
    }
}

.camapign-home-top{
    background: url("../images/bg.jpg");
    background-size:cover;   
    background-position: center;
    h1{
        font-size: 18px;        
        font-family: $go-semibold;
        font-weight: 500;
        margin: 0;
        padding: 95px 30px 15px;
        @include sm {
            font-size: 25px;
            padding: 95px 0 35px;
            font-family: $go-bold;
            font-weight: 700;
        }
        @include md {
            padding: 78px 0 35px;
        }
    }

    h2{
        font-size: 24px;
        font-family: $go-bold;
        padding: 15px 0 75px;
        margin: 0;
        @include sm {
            font-size: 55px;
            padding: 27px 0 135px;
        }
    }
}




.campaign-name{
    max-width: 325px;
    margin: 0 auto;
    @include md {
        max-width: 460px;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

.campaign-name-wrap{
    position: relative;
    max-width: 870px;
    margin: 0 auto;
    .background-food-items{
        img{
            position: absolute;
        }
    }
    .food1{
        left: 0;
        top: 0;
        width: 91px;
        height: auto;
        @include md {
            top: 50px;
            width: 152px;
        }
    }
    .food2{
        right: 0;
        top: 0;
        width: 83px;
        height: auto;
        @include md {
            top: 50px;
            width: 138px;
        }
    }
    .food3{
        bottom: -50px;
        left: -200px;
        display: none;
        @include md {
            display: block;
        }
    }
    .food4{
        bottom: -50px;
        right: -200px;
        display: none;
        @include md {
            display: block;
        }
    }
}

.camapign-home-bottom{
    background: url("../images/floor.jpg");
    background-size:cover;
}

.gift-box-wrap{
     
    position: relative;
    @include sm {
        display: flex;
        justify-content: space-around;
        max-width: 1000px;
        margin: 0 auto;
    }
    @include device {
        left: -75px;
        right: -75px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 115px;  
    }
    .gift-box{     
        width: 168px;
        height: 115px;   
        background: url("../images/shadow.png") no-repeat;
        position: relative; 
        margin-top: -55px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        cursor: pointer; 
        @include device {
            float: left;
            background-size: cover;
        }
        @include sm {
            width: 286px;
            height: 210px;
            margin-top: -95px;
        }
        &:hover{
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }       
        img{
           cursor: pointer;
           width: 128px;
           height: auto;
           @include sm {
            width: 220px;
            height: auto;
           }
        }
    }
}


.campaign-info{
    @include device {
        padding-top: 70px;
    }
    @include sm {
        padding-top: 90px;
    }
    @include md {
        padding-top: 0;
    }
    .how-it-works{
        font-size: 12px;
        font-family: $go-bold;
        text-transform: uppercase;
        font-weight: 700;
        @include sm {
            font-size: 14px;
        }
    }
    .steps{
        font-size: 12px;
        line-height: 1;
        padding-bottom: 15px;
        @include device {
            display: flex; 
            padding: 15px 20px;   
        }
        @include sm {
            font-size: 25px;
            display: block;
        }
        > span{
            margin-right: 30px;
            display: flex;
            @include device {                
                margin: 0 5px;
                text-align: left;
                max-width: 130px;
            }
            @include sm {
                display: inline;
            }
            span{
                font-size: 25px;
                font-weight: bold; 
                padding-right: 5px;
                @include sm {
                    padding-right: 0;
                    font-size: 40px;
                }
            }
        }
    }
    .update{
        font-size: 14px;
        font-weight: bold;
        font-family: $go-bold;
        padding-bottom: 25px;
        span{
            cursor: pointer;
            padding-left: 10px; 
        }
        @include sm {
            font-size: 25px;
        }
    }

}

.countdown-wrap{
    padding-bottom: 25px;
    @include sm {
        padding-bottom: 50px;
    }
    .countdown-text{
        background: #232e48;
        border-radius: 3px  3px 0 0;
        display: inline-block;
        padding: 7px 10px 5px;
        font-size: 14px;
        font-weight: bold;
        font-family: $go-bold;
         color: #fe9f2b;
    }
    .countdown{
        background: #232e48;
        border-radius: 3px  3px 0 0;
        max-width: 328px;
        margin: 0 auto;
        overflow: hidden;
        padding: 20px 0 10px;
        .countdown-time{
            display: block;
            float: left;
            width: 25%;             
            font-size: 14px;
            color: #a6a8ab;
            font-family: $go-semibold;
            font-weight: 500;
            padding: 0 15px;
            border-right: 1px solid rgba(255,255,255,0.3);
            &:last-child{
                border-right: 0px;
            }
            span{
                display: block;
                font-size: 30px;
                color: #fff;
                line-height: 1;
                font-weight: bold;
            font-family: $go-bold;
            }
        }
    }
}

.overlay{
    opacity: 0.8;
    background-color: #232e48;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.osaka-campaign-popup, .osaka-price-popup, .osaka-price-complete{
    width: 325px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -163px;
    background: #fff;
    z-index: 2;
    text-align: center;
    padding: 30px 20px 20px;   
    display: none;
     -webkit-transform: scale(0.3) translateY(-50%);
    -webkit-animation-duration: 500ms;
    transform: scale(0.3) translateY(-50%);
    animation-duration: 500ms;
    @include md {
        width: 620px;
        margin-left: -310px;
        padding: 50px 40px 35px; 
    }
    &.show{
        -webkit-animation-name: mbsc-anim-sh-in;            
        animation-name: mbsc-anim-sh-in;
        display: block;
        transform: scale(1) translateY(-50%); 
    }    
}

.popup-first{
   // display: block;
   padding-top: 30px;
   @include md {
    padding-top: 0;
   }
    .popup-intro{
        padding: 0 0 15px;
         font-size: 12px;
         line-height: 1.5;
         color: #232e48;
         font-weight: 500;
         @include md {
            font-size: 18px;
            line-height: 1.67;
            padding: 0 0 10px;
         }
    }
    h3{
        font-size: 13px;
        font-weight: 500;
        color: #c5ad6c;
        line-height: 1.5;
        margin:0 0 10px;
        @include md {
            line-height: 1.79;
            font-size: 14px;
        }
    }
    h4{
         font-size: 14px;
        font-weight: bold;
        margin: 0 0 7px;
        font-family: $go-bold;
    }
}

.popup-result{
    display: none;
    h3{
        font-family: $go-bold;
        font-size: 23px;
        margin: 0 0 10px;
        @include md {
             font-size: 35px;
        }
    }
    .img{
        display: block;
        width: 140px;
        height: 140px;
        margin: 0 auto 20px;
        position: relative;
        &:after{
            content:"";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 46px;
            height: 46px;
            background: url(../images/confirmation-icon.png) 9px 10px no-repeat #fff;
            border-radius: 50%;
        }
    }
    p{
         font-size: 12px;
         font-weight: 500;
         line-height: 1.5;
         margin-bottom: 20px;
         @include md {
            font-size: 16px;
            line-height: 1.67;
         }
    }
    a{
        display: inline-block;
        width: 140px;
        text-decoration: none;
        border: solid 2px #232e48;
        border-radius: 3px;
        padding: 8px 10px;
        color: #232e48;
        font-size: 14px;
        font-family: $go-bold;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.highlight{   
    margin: 0 auto 10px;
    background: #f3f3f3;
    overflow: hidden;
    @include md {
        margin: 0 auto 20px;
    }
    img{
        width: 120px;
        height: 80px;
        float: left;
        margin-right: 30px;
        @include md {
            width: 150px;
            height: 100px;
            margin-right: 20px;
        }
    }
    .highlight-wrap{
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding: 5px 25px 5px 0;
        font-weight: 500;
        position: relative;
        @include md {
            padding: 28px 0 25px;
        }
        span{
            width: 44px;
            height: 44px;
            border: solid 2px #eb4279;
            border-radius: 50%;
            display: block;
            line-height: 2.5;
            margin-right: 10px;
            background:#fff;
            @include device {
                position: absolute;
                left: -50px;
                top: 50%;
                margin-top: -22px;
            }
        }
        p{
            max-width: 285px;
            margin: 0;
            font-size: 12px;
            color: #232e48;
            line-height: 1.57;
            text-align: left;
            @include md {
                font-size: 14px;
            }
        }
    }
}

.popup-header{
    background: #ffb816;
    height: 15px;
    left: -5px;
    right: -5px;
    top: 0;
    position: absolute;
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    @include md {
        left: -10px;
        right: -10px;
         height: 20px;
    }
    span{
         background-color: #fc7870;
         width: 140px;
         height: 15px;
         display: block;
         margin: 0 auto;
         @include md {
            height: 20px;
         }

    }
    &:before{
        content:"";
        position: absolute;
        top: -45px;
        width: 112px;
        left: 50%;
        margin-left: -56px;
        height: 49px;
        z-index: -1;
        background: url("../images/ribbon.svg");
        background-size: cover;
        @include md {
            margin-left: -83px;
            top: -65px;
            width: 167px;
            height: 73px;
            top: -65px;
        }
    }
}

.osaka-price-popup .popup-header{
    top: -1px;
    &:before{
        display: none;
    }
}

#mainForm{
    text-align: left;
    .input-wrapper{   
        margin-bottom: 25px;     
        @include md {
            display: flex;
            justify-content: space-between;
            align-items:flex-end;            
        }
    }
    label{
        display: block;
        font-family: $go-bold;
        font-size: 12px;
        color: #232e48;
        font-weight: 700;
        line-height: 2;
        padding-bottom: 5px;
        @include md {
            font-size: 14px;
        }
    }
    .input-control{
        // float: left;
    }
    input[type="text"]{
        width: 100%;
        height: 40px;
        border: solid 2px #eeeeee;
        border-radius: 3px;
        padding: 7px 15px;
        color: #000;
        font-size: 12px;
        margin-bottom: 10px;
        &::placeholder {
            color: #cbcbcb;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: #cbcbcb;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
           color: #cbcbcb;
        }
        @include md {
            width: 180px;
            margin-bottom: 0;
        }
        &.error{
            border: solid 2px #f5445a;
        }
    }
    .form-btn{
        width: 100%;
        height: 40px;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        background-color: #c5ad6c;
        border-radius: 3px;
        font-size: 14px;
        font-family: $go-bold;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        &:disabled{
            opacity: 0.5;
        }
        @include md {
            margin-top: 0;
            width: 140px;
        }
    }

    .container {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 12px;
        font-weight: 500;
        color: #232e48;
        a{
            font-weight: 700;
            font-family: $go-bold;
            color: #000;
        }
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 2px solid #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #eee;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #eee;
    }

    .container input.error ~ .checkmark {
        border-color: #f5445a;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 1px;
        width: 4px;
        height: 9px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}


@keyframes mbsc-anim-sh-in {
  from {opacity:0;transform: scale(0.3) translateY(-50%); }
  to {opacity: 1;transform: scale(1) translateY(-50%); } }

@-webkit-keyframes mbsc-anim-sh-in {
  from {opacity:0;transform: scale(0.3) translateY(-50%); }
  to {opacity: 1;transform: scale(1) translateY(-50%); } }



/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


.thankyou-top{
    background: url("../images/thankyou-bg.jpg");
    background-size:100% 100%; 
    position: relative;
    text-align: center;
    color: #fff;
    .logo{
        position: absolute;
    }
    h1{
        font-size: 24px;
        font-weight: bold;
        font-family: $go-bold;
        padding: 94px 0 6px;
        margin: 0;
        line-height: 1;
        @include md {
            font-size: 45px;
            padding: 45px 0 6px;
        }
    }
    h4{
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 25px;
        line-height: 1;
        @include md {
            font-size: 25px;
            margin: 0 0 45px;
        }
    }
}

.campaign-slider{
    overflow: hidden;
    width: 100%;    
    .slick-list{
        //padding: 0 250px;
        max-width: 290px;
        margin: 0 auto;
        overflow: initial;
        @include md {
            max-width: 940px;
        }
    }
    .slick-slide{
        width: 290px;
        margin: 0 7px;
        box-sizing: border-box;
        position: relative;
        @include md {
            width: 940px;
            margin: 0 25px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .slick-arrow{
        position: absolute;
        width: 66px;
        height: 66px;
        z-index: 1;
        background: #fff;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        border:1px solid #000;
        &.slick-next{
            right: 50%;
            margin-right: -570px;
            &:before{
                content: "→";
                font-size: 20px;
                z-index: 1;
                color: #232e48;                
            }            
        }
        &.slick-prev{
            left: 50%;
            margin-left: -570px;
            &:before{
                content: "←";
                font-size: 20px;
                z-index: 1;
                color: #232e48;                
            }            
        }
    }
    .slick-content{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(35,46,72,0.4);
        padding: 8px 50px 5px 12px;
        text-align: left;
        @include  sm {
            width: 460px;
            padding: 23px 50px 13px 25px;
        }
        .count{
            position: absolute;
            right: 9px;
            top: 9px;
            font-size: 14px;
            @include md {
                right: 25px;
                top: 25px;
                font-size: 16px;
            }
        }
        h4{
            margin: 0;
            font-size: 14px;
            font-family: $go-bold;
            @include md {
                font-size: 25px;
            }
        }
        p{
            font-size: 12px;
            line-height: 1.67;
            margin: 0;
            @include md {
                font-size: 18px;
            }
        }
    }
}


.hotel-booking-wrap{
    padding: 30px 0;
    @include md {
        padding: 40px 0;
    }
    .book-at{
        font-size: 14px;
        font-weight: 500;
        @include md {
            font-size: 25px;
        }
    }
    h2{
        font-family: $go-bold;
         font-size: 20px;
         margin: 0;
         @include md {
            font-size: 45px;
            padding: 10px 0 20px;
         }
    }
    .discount{
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
        @include md {
            font-size: 25px;
            padding-bottom: 25px;
        }
    }

    .book-now{
        display: inline-block;
        width: 170px;
        background-color: #c5ad6c;
        box-shadow: 0 8px 5px 0 rgba(216, 111, 39, 0.14);
        padding: 12px 0;
        font-size: 18px;
        font-weight: 700;
        font-family: $go-bold;
        text-decoration: none;
        color: #ffffff;
        @include md {
            width: 183px;
            font-size: 20px;
        }
    }
}

.resturants-wrap{
    max-width: 940px;
    margin: 0 auto;
    @include md {
        margin: 0 auto 50px;
    }
    h3{
        margin: 0;
        padding: 20px 10px 20px;
        font-size: 20px;
        text-align: center;
        @include md {
            font-size: 45px;
            font-family: $go-bold;
            font-weight: 700;
            padding: 40px 10px 20px;
        }
        @include device {
            max-width: 300px;
            margin: 0 auto;
        }
    }
}

.resturant-container{
    
    @include md {
        display: flex;  
        -webkit-flex-flow: row wrap;
        justify-content: space-between;
    }
    .resturant{
        width: 450px;
        margin-bottom: 20px;
        background-color: #ffffff;
        box-shadow: 14px 1px 90px 0 rgba(0, 0, 0, 0.1);
        @include device {
            margin: 0 auto 20px;
            width: 300px;
        }
    }

    .img{
        position: relative;
        span{
             font-size: 20px;
             font-family: $go-bold;
             color: #fff;
             position: absolute;
             left: 30px;
             bottom: 20px;
             font-weight: 700;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .resturant-content{
        padding: 15px 30px;
        p{
            font-size: 13px;
            line-height: 1.5;
            margin: 0 0 15px;
        }
        .contact-heading{
            font-size: 14px;
            font-weight: bold;
            font-family: $go-bold;
            padding: 15px 0 5px;
            border-top: 1px solid #f1f3ee;
        }
        .phone-number{
            font-size: 20px;
            font-weight: bold;
            font-family: $go-bold;
            text-decoration: none;
            color: #222d47;
        }
        .see-more {
            text-align: center;
            position: relative;
            margin-top: 10px;
            display: block;
            cursor: pointer;
            text-decoration: none;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                background-color:#000000;
                top: 12px;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                background-color:#000000;
                top: 14px;
            }

            span {
                background: #fff;
                font-weight: 700;
                color: #c5ad6c;
                padding: 0 35px;
                position: relative;
                z-index: 1;
                font-family: $go-bold;
                font-size: 13px;
            }
        }
    }
}



footer {
  background: #232e48;
  color: #fff; 
  padding: 30px 0; 
  position: relative;
  z-index: 1;
  @include sm {
    padding: 65px 0 50px; 
  } 
  .large-container{
    display: flex;
    flex-direction: column;
    @include sm {
      display: block;
      overflow: hidden;
      max-width: 1200px;
      margin: 0 auto;
    }
    
  }  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{       
      a{
        color: #fff;
        font-family:$go-semibold;
        font-size:12px;
        font-weight: 500;
        text-decoration: none;
      }
    }
  } 
  .footer-logo{
    order:1;
    padding-bottom: 30px;
    img{
      display: block;
      margin: 0 auto;
      @include sm {
        margin: 0; 
      }
    }
  }
  .social-media{
    order:2;
    padding-bottom: 40px;
    text-align: center;
    @include sm {
      text-align: left;
    }
    a{
      display: inline-block;
      margin-right: 20px;  
      cursor:pointer;
      font-size:36px; 
      img{
        width: 36px;
        height: 36px;
      }
    }
  }   
}



.footer-top-menu{
  order:3;
  padding-bottom: 60px;
  ul{
    li{   
      a{
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid rgba(255,2555,255,0.1); 
        position: relative; 
        font-family: $go-semibold; 
        letter-spacing: 1.2px;    
        @include sm {
          float: left;     
          margin-right: 30px;
          padding: 0;
          border-bottom: 0;        
        }
        &:before{
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          box-sizing: border-box;
          right: 10px;
          width: 8px;
          height: 8px;
          border-width: 2px 2px 0 0;
          border-style: solid;
          transform: rotate(45deg);
          @include sm {
            display: none;
          }
        }
      } 
    }
  }
}   

.footer-secondar-menu{
  order:4;
  padding-bottom: 30px; 
  overflow: hidden;
  ul{
    width: 50%;
    float: left;
    opacity: 0.6;
    margin-bottom: 35px;
    @include sm {
      width: 25%;
      opacity: 1;
      margin-bottom: 0;
    }
    li{
      margin-right: 30px;      
      a{
        font-size:10px;
        font-family: $go-semibold; 
        letter-spacing: 1px; 
        line-height: 2.6;
        display: block;
      }
    }
  }
}

.footer-bottom-menu{
  order:5;
  margin-bottom: 20px;
  @include sm {
    margin-bottom: 0;
  }
  ul{
    li{
      float: left;
      margin-right: 10px;
      @include sm {
        margin-right: 30px;
      }
      a{
        font-family: $go-semibold; 
        letter-spacing: 1.2px;
      }
    }
  }
} 

.copyright{
  order: 6;
  color: #fff;
  opacity: 0.4;
  font-size:10px; 
   font-family: 'Lato';
  letter-spacing: 1px;
}

.close-icon{
    position: absolute;
    right: 10px;
    top: -35px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    &:after, &:before {
        position: absolute;
        left: 50%;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #fff;
        cursor: pointer;
        display: block;
        margin-left: 0px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
}

.terms-condition-content{
    display: none;
    padding: 30px 0 0;
    height: 350px;
    overflow: auto;
    position: relative;
    p{
        text-align: left;
    }    
}


.terms-back{
    position: absolute;
    top: 25px;
    display: none;
    color: #5cc6d1;
    padding: 5px 10px;
    font-family: $go-bold;
    font-weight: 700;
    cursor: pointer;
}